<div class="form-pop-up">
  <header>
    <h4>{{editMode.isActive ? 'Update' : 'Add New' }} Fuel Expense</h4>

    <button mat-icon-button color="warn" [mat-dialog-close]="true" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <section>
    <ul [formGroup]="addFuelExpenseForm">
      <li>
        <mat-form-field>
          <mat-label>Driver Name *</mat-label>
          <input type="text" matInput formControlName="driver_name" [matAutocomplete]="driver">
          <mat-autocomplete #driver="matAutocomplete" [displayWith]="locationListOptionView">
            <mat-option *ngFor="let option of driverList" [value]="option">
              {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Vehicle Number *</mat-label>
          <input type="text" matInput formControlName="vehicle_number" [matAutocomplete]="vehicle">
          <mat-autocomplete #vehicle="matAutocomplete" [displayWith]="locationListOptionView">
            <mat-option *ngFor="let option of vehicleNumberList" [value]="option">
              {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Location</mat-label>
          <input type="text" matInput formControlName="location" [matAutocomplete]="location">
          <mat-autocomplete #location="matAutocomplete" [displayWith]="locationListOptionView">
            <mat-option *ngFor="let option of locationList" [value]="option">
              {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Date *</mat-label>
          <input matInput formControlName="date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Fuel Type *</mat-label>
          <input type="text" matInput formControlName="fuel" [matAutocomplete]="fuel">
          <mat-autocomplete #fuel="matAutocomplete" [displayWith]="locationListOptionView">
            <mat-option *ngFor="let option of fuelList" [value]="option">
              {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Unit Price *</mat-label>
          <input type="text" matInput formControlName="unit_price" placeholder="Unit Price">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Quantity *</mat-label>
          <input type="text" matInput formControlName="quantity" placeholder="Quantity">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Total Amount *</mat-label>
          <input type="text" matInput formControlName="total_amount" placeholder="Total Amount">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Narration</mat-label>
          <input type="text" matInput formControlName="narration" placeholder="Narration">
        </mat-form-field>
      </li>
    </ul>
  </section>
  <footer>
    <button class="add-button" [disabled]="!addFuelExpenseForm.valid" mat-stroked-button color="primary"
      (click)="postFormData();">
      {{editMode.isActive ? 'Update' : 'Add New'}} Fuel Expense
    </button>
  </footer>
</div>