@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./config/config.scss";
@import "./theme/indigo.scss";

$nav-height: 70px;

$small: 480px;
$medium: 900px;

:root {
  --#{$variable-prefix}-font-family: #{inspect($font-family-sans-serif)};
  --#{$variable-prefix}-font-monospace: #{inspect($font-family-monospace)};
  --primary: #3f51b5;
  --primary-dark: #2a3156;
  --gray-300: #c5c8d4;
  --gray-200: #b5b8bf;
}

ems-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  ems-navigation {
    display: flex;
    height: $nav-height;
    position: fixed;
    left: 100px;
    top: 0;
    right: 0;
    z-index: 100;

    mat-toolbar {
      display: flex;
      justify-content: space-between;
    }
  }

  ems-add-menu {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
  }

  ems-home,
  ems-sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
  }

  ems-agreement {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content-area {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;
      padding-bottom: 50px;

      mat-card {
        width: calc(33.333% - 20px);
      }
    }
  }

  ems-list-agreement {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  mat-card,
  .mat-table {
    width: 100%;
  }

  .mat-button-base {
    .mat-button-wrapper {
      height: 50px;
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
    }
  }

  .mat-drawer-side {
    border-right: 2px solid #eef0f6;
  }

  .mat-drawer-container {
    height: 100%;
    background-color: #f6f8fa;

    .main-wrap {
      @media screen and (max-width: $medium) {
        padding: 62px 30px 0 30px;
      }
      @media screen and (min-width: $medium + 1) {
        padding: 100px 70px 0 70px;
      }

      ems-home {
        .screen {
          max-width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }

  ems-auth {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
  }
}

.page-header {
  margin-bottom: 30px;

  .header-box {
    width: 100%;
    background-color: inherit;
    color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    p {
      margin-top: 15px;
      margin-bottom: 0;
      color: var(--gray-200);
      font-size: 1.25rem;
    }
  }
}

.form-pop-up {
  header {
    border-bottom: 1.5px solid var(--gray-200);
    padding-bottom: 20px;
  }

  footer {
    padding-top: 20px;
    border-top: 1.5px solid var(--gray-200);
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    .add-button {
      min-width: 150px;
    }
  }

  section {
    padding: 25px 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 30px;
      list-style: none;
      padding: 0;

      li {
        width: calc(33.3333% - 30px);

        mat-form-field {
          width: 100%;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }
}

