@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./config/config.scss";
@import "./theme/indigo.scss";

$nav-height: 70px;

$small: 480px;
$medium: 720px;

:root {
  --#{$variable-prefix}-font-family: #{inspect($font-family-sans-serif)};
  --#{$variable-prefix}-font-monospace: #{inspect($font-family-monospace)};
  --primary: #3f51b5;
  --primary-dark: #2a3156;
  --gray-300: #c5c8d4;
  --gray-200: #b5b8bf;
}

ems-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  ems-navigation {
    z-index: 1010;

    mat-toolbar {
      display: flex;
      justify-content: space-between;
    }
  }

  ems-add-menu {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 100;
  }

  ems-pages,
  ems-sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
  }

  ems-agreement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-area {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 30px;

    &.tile {
      column-gap: 30px;
    }

    .full-width-card {
      width: 100%;

      &.full-card {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 30px;
        padding-bottom: 50px;
        column-gap: 30px;
      }
    }

    .wrap-box {
      display: flex;
      width: 100%;
      column-gap: 30px;

      &.tile {
        width: calc(50% - 20px);
        @media (max-width: 720px) {
          width: 100%;
        }

        @media (min-width: 1600px) {
          width: calc(33.333% - 20px);
        }

        ems-data-view {
          width: 100%;
          display: flex;
        }
      }

      mat-accordion {
        width: 100%;
      }

      .report-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 30px;
      }

      .filter-box {
        padding: 20px;
        display: flex;
        column-gap: 30px;
        align-items: center;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        mat-form-field {
          width: calc(20% - 25px);
        }
      }
    }

    mat-card {
      &.data-tile-card {
        width: 100%;

        &.tile {
          width: calc(33.333% - 20px);
        }

        mat-card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          mat-card-title {
            margin: 0;
            line-height: 1;
          }

          mat-icon {
            height: 40px;
            width: 40px;
            border: 1px solid var(--gray-300);
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }

  ems-list-agreement,
  ems-list-employee-expense,
  ems-list-vehicle-expense {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  mat-card,
  .mat-table {
    width: 100%;
  }

  .mat-button-base {
    .mat-button-wrapper {
      height: 50px;
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: center;
    }
  }

  .mat-drawer-side {
    border-right: 2px solid #eef0f6;
  }

  .main-wrap {
    background-color: #f6f8fa;
    height: 100vh;
    overflow: auto;

    @media screen and (max-width: $medium) {
      padding: 70px 20px 20px 20px;
    }
    @media screen and (min-width: ($medium + 1)) {
      padding: 90px 40px 40px 40px;
    }

    ems-pages {
      .screen {
        max-width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  ems-auth {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
  }
}

.page-header {
  margin-bottom: 15px;

  .header-box {
    width: 100%;
    background-color: inherit;
    color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    p {
      margin-top: 15px;
      margin-bottom: 0;
      color: var(--gray-200);
      font-size: 1.25rem;
    }
  }
}

.form-pop-up {
  header {
    border-bottom: 1.5px solid var(--gray-200);
    padding-bottom: 20px;
  }

  footer {
    padding-top: 20px;
    border-top: 1.5px solid var(--gray-200);
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    @media screen and (max-width: $medium) {
      button {
        padding: 5px;
      }
    }

    .add-button {
      min-width: 150px;
    }
  }

  section {
    padding: 25px 0;

    ul {
      display: flex;
      list-style: none;
      padding: 0;

      @media screen and (min-width: ( $medium + 1)) {
        flex-wrap: wrap;
        column-gap: 30px;

        li {
          width: calc(33.3333% - 30px);
        }
      }

      @media screen and (max-width: $medium) {
        flex-direction: column;
        max-height: 65vh;
        overflow: auto;

        li {
          width: 100%;
        }
      }

      li {
        mat-form-field {
          width: 100%;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }
  }
}

.snack-bar-success {
  background-color: #06d6a0;
  color: #fff;

  .mat-simple-snackbar-action {
    color: #fff;
  }
}

.snack-bar-error {
  background-color: #ef476f;
  color: #fff;

  .mat-simple-snackbar-action {
    color: #fff;
  }
}

.snack-bar-warning {
  background-color: #1b9aaa;
  color: #fff;

  .mat-simple-snackbar-action {
    color: #fff;
  }
}

.mat-expansion-panel-header-title {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.no-data-block {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;

  mat-icon {
    color: #ccc;
    font-size: 72px;
    height: 72px;
    width: 72px;
  }

  h5 {
    color: #ccc;
    font-size: 18px;
    font-weight: 400;
  }
}

ems-root .card-footer .mat-button-base .mat-button-wrapper {
  height: 40px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $medium) {
    flex-direction: column;
    row-gap: 10px;
    padding-top: 15px;

    .mat-paginator-container {
      display: flex;
      justify-content: center;
      row-gap: 10px;
    }
  }

  .gap {
    display: flex;
    flex: 1;
  }
}

.table-container {
  th.mat-header-cell,
  td.mat-cell {
    padding: 0 10px;
  }

  @media (max-width: $medium) {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    td.mat-cell {
      border-right: 1px solid rgb(224, 224, 224);
    }

    td.mat-column-action {
      border-right: 0px solid transparent;
    }
  }
}
