@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "./variables";
@import "./reboot";
@import "./theme/indigo.scss";

:root {
  --#{$variable-prefix}-font-family: #{inspect($font-family-sans-serif)};
  --#{$variable-prefix}-font-monospace: #{inspect($font-family-monospace)};
  --primary: #3f51b5;
  --gray-300: #c5c8d4;
}

ems-root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  ems-navigation {
    display: flex;
    height: $nav-height;
    position: fixed;
    left: 100px;
    top: 0;
    right: 0;

    mat-toolbar {
      display: flex;
      justify-content: space-between;
    }
  }

  ems-sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
  }

  ems-agreement {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  ems-list-agreement {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  mat-card,
  .mat-table {
    width: 100%;
  }

  .mat-drawer-side {
    border-right: 2px solid #eef0f6;
  }

  .mat-drawer-container {
    height: 100%;
    background-color: #f6f8fa;

    .main-wrap {
      padding: 112px 100px 0 100px;
    }
  }
}

.page-header {
  margin-bottom: 30px;
  padding: 20px;

  .header-box {
    width: 100%;
    background-color: white;
    color: #2a3156;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
