<div class="page-header">
  <header class="header-box">
    <div>
      <h1>Agreements</h1>
    </div>
  </header>
</div>

<div class="content-area">
  <div class="wrap-box">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter Panel
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="filter-box" [formGroup]="agreementFilterForm">

        <mat-form-field>
          <mat-label>Agreement</mat-label>
          <input type="text" matInput formControlName="agreement" [matAutocomplete]="agreement">
          <mat-autocomplete #agreement="matAutocomplete" [displayWith]="agreementOptionView">
            <mat-option *ngFor="let option of agreementList" [value]="option">
              {{option.agreement_number}} - {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Location</mat-label>
          <input type="text" matInput formControlName="location" [matAutocomplete]="location">
          <mat-autocomplete #location="matAutocomplete" [displayWith]="employeeOptionView">
            <mat-option *ngFor="let option of locationList" [value]="option">
              {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button mat-stroked-button color="primary" (click)="searchNow()">Search Now</button>
        <button mat-stroked-button color="warn" (click)="resetSearch()">Reset</button>
      </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Agreements
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-container *ngIf="hasResult; else elseTemplate">
          <mat-card-content>
            <div class="mat-elevation-z0 table-container ">
              <table mat-table [dataSource]="agreementListData" matSort>

                <ng-container matColumnDef="agreement_number">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Agreement </th>
                  <td mat-cell *matCellDef="let row"> {{row.agreement_number}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                  <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>


                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                  <td mat-cell *matCellDef="let row"> {{row.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="state_details">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                  <td mat-cell *matCellDef="let row"> {{row.state_details.name}} </td>
                </ng-container>

                <ng-container matColumnDef="district_details">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> District </th>
                  <td mat-cell *matCellDef="let row"> {{row.district_details.name}} </td>
                </ng-container>

                <ng-container matColumnDef="location_details">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                  <td mat-cell *matCellDef="let row"> {{row.location_details.name}} </td>
                </ng-container>

                <ng-container matColumnDef="start_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                  <td mat-cell *matCellDef="let row"> {{row.start_date | date: 'dd/MM/YYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="end_date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                  <td mat-cell *matCellDef="let row"> {{row.end_date | date: 'dd/MM/YYY'}} </td>
                </ng-container>

                <ng-container matColumnDef="narration">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Narration </th>
                  <td mat-cell *matCellDef="let row"> {{row.narration}} </td>
                </ng-container>

                <ng-container matColumnDef="expense">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Expense </th>
                  <td mat-cell *matCellDef="let row"> {{row.expense}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let row" style="cursor: pointer;">
                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu" xPosition="after">
                      <button mat-menu-item (click)="editAgreement(row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item color="danger" (click)="deleteAgreement(row.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [length]="pageAttributes.totalRecord" [pageIndex]="pageAttributes.currentPage"
                [pageSize]="pageAttributes.pageSize" [pageSizeOptions]="pageAttributes.pageSizeOpt"
                [showFirstLastButtons]="pageAttributes.firstLastEnable" (page)="handlePage($event)">
              </mat-paginator>
            </div>
          </mat-card-content>
        </ng-container>
        <ng-template #elseTemplate>
          <mat-card-content class="no-data-block">
            <mat-icon>mood_bad</mat-icon>
            <h5>No Results</h5>
          </mat-card-content>
        </ng-template>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
