<div class="page-header">
    <header class="header-box">
        <div>
            <h1>Agreements</h1>
            <p>Sample text</p>
        </div>
        <div>
            <button mat-flat-button color="primary" (click)="addAgreementDialog()">
                <mat-icon>summarize</mat-icon> Generate Report
            </button>
        </div>
    </header>
</div>

<div class="content-area">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Latest Agreements</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ems-list-agreement></ems-list-agreement>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Latest Vehicle Expenses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ems-list-agreement></ems-list-agreement>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Latest Employee Expenses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ems-list-agreement></ems-list-agreement>
        </mat-card-content>
    </mat-card>
