<div class="form-box" [formGroup]="loginForm">
    <h2>Login</h2>

    <mat-form-field appearance="legacy">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Placeholder" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="loginNow()" [disabled]="!loginForm.valid">Login</button>
</div>

<ems-loader></ems-loader>
