<div class="form-pop-up">
  <header>
    <h4>{{editMode.isActive ? 'Update' : 'Add' }} Agreement</h4>

    <button class="add-button" mat-icon-button color="warn" [mat-dialog-close]="true">
      <mat-icon>close</mat-icon>
    </button>
  </header>
  <section>
    <ul [formGroup]="addAgreementForm">
      <li>
        <mat-form-field appearance="legacy">
          <mat-label>Agreement No.</mat-label>
          <input type="text" matInput formControlName="no" placeholder="Agreement No.">
          <mat-icon matSuffix *ngIf="validateAgreement.showNow"
            [color]="validateAgreement.is_exist ? 'warn' : 'primary'"> {{validateAgreement.is_exist ? 'close' :
            'check'}} </mat-icon>
          <mat-hint>Agreement should be unique </mat-hint>
          <mat-error *ngIf="validateAgreement.is_exist">{{validateAgreement.message}}</mat-error>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Name">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input type="number" matInput formControlName="amount" placeholder="Amount">
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>State</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let item of stateList" [value]="item.id"> {{item.name}} </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>District</mat-label>
          <mat-select formControlName="district">
            <mat-option *ngFor="let item of districtList" [value]="item.id"> {{item.name}} </mat-option>
          </mat-select>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Location</mat-label>
          <input type="text" matInput formControlName="location" [matAutocomplete]="location">
          <mat-autocomplete #location="matAutocomplete" [displayWith]="locationListOptionView">
            <mat-option *ngFor="let option of locationList" [value]="option">
              {{option?.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput formControlName="endDate" [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </li>
      <li>
        <mat-form-field>
          <mat-label>Naration</mat-label>
          <input type="text" matInput formControlName="naration" placeholder="Naration">
        </mat-form-field>
      </li>
    </ul>
  </section>
  <footer>
    <button class="add-button" [disabled]="!addAgreementForm.valid" mat-stroked-button color="primary"
      (click)="postFormData();">
      {{ editMode.isActive ? 'Update Agreement' : 'Add Agreement'}}
    </button>
  </footer>

</div>

<ems-loader></ems-loader>