<div class="top-navigation__search">
  <div class="app-title">
    <h1>Pullattu Group</h1>
  </div>
  <!-- <div class="search-box">
    <mat-icon>search</mat-icon>
    <input class="top-navigation__search-input" placeholder="Search..." />
  </div> -->

  <div class="user-profile">
    <div class="pic-box nav-block" (click)="toggleProfile()" #profileTrigger>
      <img *ngIf="profilePic.active" src="{{ profilePic.url }}" alt="" />
      <div *ngIf="!profilePic.active" class="no-pic">{{name.firstName }}{{name.lastName }}</div>
    </div>

    <div class="profile-box" *ngIf="profileBox" #profileView>
      <div class="user-data">
        <div class="pic-box">
          <img *ngIf="profilePic.active" src="{{ profilePic.url }}" alt="" />
          <div *ngIf="!profilePic.active" class="no-pic">{{name.firstName }}{{name.lastName }}</div>
        </div>
        <h3>{{currentUser?.first_name ? currentUser.first_name: 'No' | titlecase }}
          {{currentUser?.last_name ? currentUser.last_name: 'Name'  | titlecase }}
        </h3>
        <p>{{currentUser?.role_details?.name ? currentUser.role_details?.name : 'No Role'  | titlecase }}</p>
      </div>
      <ul>
        <!-- <li>
          <button mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>My Account</span>
          </button>
        </li>
        <li>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
        </li> -->
        <li>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>manage_accounts</mat-icon>
      <span>My Account</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu> -->
</div>
